.caixa {
    border-radius: 20px;
    margin: 0.5rem 0; 
    padding: 0 20px;
    display: flex;
    justify-content: flex-start; 
    align-items:center;
}

.caixa a {
    text-decoration: none;
}

.linha {
    height: 0;
    margin-top: 5px;
    border-bottom: 1px solid lightgrey;
}

.bolhaCinza {
    background-color: rgba(0,0,0,.08);
    font-family: 'Courier New', Courier, monospace;
    color: #505050;
    margin-right: 5px;
    padding: 2.5px 6px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;
}

.stopHeader {
    break-inside: avoid;
}

.stopName {
    font-size:15px;
    text-align:left;
    font-weight: bold;
    line-height: 1.2; 
    padding-top: 20px;
}

.stopName + div {
    text-align: left;
}

.numero {
    font-weight: bold;
    border-radius: 20px;
    padding: 4px 11px; 
    color: white;
    font-size: 13px;
    transition: filter 0.2s ease;
}

.numero:hover {
    filter: brightness(0.7);
}

.routeName {
    font-weight: 500; 
    padding-left: 5px;
    font-size:13px;
    text-align: left;
    color: black;
}

