.container {
  padding: 0;
  margin: auto;
  max-width: 800px;
}

.header {
  margin-top:1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.bar {
  background: black;
  height: 2rem;
}

.backToHome {
  margin: 3rem auto 0;
  background: white;
  width: fit-content;
  padding: 0 4ch;
  border-radius: 1rem;
}

.main{
  text-align: center;
  font-family: 'Inter', sans-serif;
}
