/* * */
/* CONTAINER */

.container {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* * */
/* WRAPPER */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background: white;
}

/* * */
/* * */
/* * */

.text {
  margin-top: 1ch;
  line-height: 2ch;
}

.button {
  margin: 1ch auto;
  background: #ffdd01;
  color: black;
  width: fit-content;
  padding: 0.5ch 2ch;
  cursor: pointer;
  border-radius: 20px;
  transition: filter 0.3s ease;
}

.button:hover {
  filter: brightness(0.8);
}

.button a {
  text-decoration: none;
}

.button div {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.button a {
  color: black !important;
}
