.item {
  margin: 4ch auto;
}

.text {
    margin-top: 1ch; 
    line-height: 2ch;
}

.button {
    margin: 1ch auto;
    background: #ffdd01;
    color: black;
    width: fit-content;
    padding: 0.5ch 2ch; 
    cursor: pointer;
    border-radius: 20px;
  }
  
  .button:hover {
    background: #d6ba00;
    font-weight: bold;
  }

  .button div {
    display: 'flex'; 
    align-items: 'center';
    justify-content: 'center';
  }

  .button a {
    color: black !important;
  }