.layout {
  background: #f5f5f5;
  min-height: 100vh;
}

.container {
  padding: 0;
  margin: auto;
  max-width: 800px;
}

.header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-ExtraLight.woff') format('woff');
  /* Add more formats if available */
  font-weight: 200;
  /* Adjust as needed */
  font-style: light;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Light.woff') format('woff');
  /* Add more formats if available */
  font-weight: 300;
  /* Adjust as needed */
  font-style: light;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-LightOblique.woff') format('woff');
  /* Add more formats if available */
  font-weight: 300;
  /* Adjust as needed */
  font-style: oblique;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Regular.woff') format('woff');
  /* Add more formats if available */
  font-weight: 400;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-RegularOblique.woff') format('woff');
  /* Add more formats if available */
  font-weight: 400;
  /* Adjust as needed */
  font-style: oblique;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-DemiBold.woff') format('woff');
  /* Add more formats if available */
  font-weight: 500;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Bold.woff') format('woff');
  /* Add more formats if available */
  font-weight: 700;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('/fonts/GreycliffCF-Heavy.woff') format('woff');
  /* Add more formats if available */
  font-weight: 800;
  /* Adjust as needed */
  font-style: normal;
  /* Adjust as needed */
}

.main {
  text-align: center;
  font-family: 'Greycliff CF', sans-serif;
}

.bar {
  font-family: 'Greycliff CF', sans-serif;
}
