.body,
.main,
.footer {
    background: white;
}

.body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background: #ffdd01;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.textoGrande {
    font-size: 1.9rem;
    line-height: 1.9rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.textoPequeno {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.footer {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.footer>img {
    float: right;
    height: 40px;
}

.container>div {
    margin-bottom: 1rem;
    font-size: 10px;
    background-color: white!important;
}

.bolhaCinza {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
    margin-right: 5px;
    padding: 2.5px 5px;
    border-radius: 10px;
    font-weight: normal;
    font-size: 8px;
}

.stops>div:first-child {
    display: none;
}

.stops>div:nth-child(2) div {
    padding-top: 0px !important;
}

.stops {
    padding: 10px 0px 40px;
    display:block;
    column-count: 2;
    column-gap: 30px;
    background-color: white;
}

.stops > div {
    padding-left: 0;
    padding-right: 0;
}

@media print {
    .content-container:first-of-type {
        page-break-before: auto; /* Reset page break for the first content container */
    }

    .content-container:not(:first-of-type) {
        margin-top: 40mm; /* Set top margin for content containers from the second page onward */
    }

    .body::before {
        content: "Página " counter(page) " de " counter(pages);
    }
}
@page {
    size: A4; /* Set the paper size for printing (e.g., A4, letter) */
    margin: 10mm; /* Set page margins (top, right, bottom, left) */
}