.backHome {
    margin: 3rem auto 0;
    background: white;
    width: fit-content;
    padding: 10px 4ch;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 0.75rem;
  }
  
  .backHome:hover {
    background: whitesmoke;
    font-weight: bold;
  }