.container {
    text-align: left;
    width: 30ch;
    font-size: 0.75rem;
    color: black;
}

.select {
    text-align: left;
    font-size: 0.65rem;
    color: black;
    width: 30ch;
    margin: auto;
}
