.titles {
  grid-area: titles;
}

.map {
  grid-area: map;
  background-color: rgb(243, 241, 199);
  margin-bottom: 3rem;
}

.stops {
  grid-area: stops;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.1);
}

.stops > div {
  padding: 0 20px;
}

.stops > div:last-child {
  padding-bottom: 20px;
}

.info {
  grid-area: info;
}

.back {
  grid-area: back;
}

.main {
  display: grid;
  grid-template-areas:
    'titles titles'
    'map    map'
    'stops  info'
    'back   back';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 500px auto auto;
  gap: 20px;
}

@media (max-width: 800px) {
  .main {
    display: grid;
    margin: 0 5vw;
    grid-template-areas:
      'titles'
      'map'
      'stops'
      'info'
      'back';
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px auto auto auto auto;
    gap: 20px;
  }
}

.listOfStops {
  display: flex;
  flex-direction: column;
}
