.titles {
    grid-area: titles; 
}

.map {
    grid-area: map; 
    background-color: purple;
}

.stops {
    grid-area: stops; 
}

.info {
    grid-area: info; 
}

.back {
    grid-area: back; 
}

.main {
    display: grid;
    grid-template-areas: 
    'titles titles'
    'map    map'
    'stops  info'
    'back   back';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 300px auto auto;
    gap:20px;
}

@media (max-width: 800px) {
    .main {
        display: grid;
        margin: 0 5vw;
        grid-template-areas: 
        'titles'
        'map'
        'stops'
        'info'
        'back';
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px auto auto auto auto;
        gap:20px;
    }

}

